rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Allowed Users Collection
    match /allowed_users/{userId} {
      allow read, write: if true;
    }
  }
}
